/* POLICE */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Comfortaa', cursive;
    color: white;
}


/* NAVBAR */

.navbar .lien .btn-client{
    background-color: #77EA97;
    border-radius: 15px;
}

.navbar-link {
    padding: 0 50px;
}
.navbar-link > a {
    color:white;
    text-decoration: none;
}
.burger {
    display: none;
}

header{
    height: 15vh;
}
.navbar {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 15vh;
    color:white;
    transition: all .7s ease-in-out;
}
.navbar-links {
    display: flex;
}

.lien{
    position: relative;
}


.fa-brands{
    color: white;
    transition: all .4 ease-in-out;
}

ul {
    list-style: none;
    position: relative;
}

/* Logo Style */
.nav-logo{
    position: relative;
    left: 5%;
}
.logo{
    height: 4em;
    z-index: 0;
}

/* Small Devices */
@media screen and (max-width:1149.98px) {
    *{
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .main-content h1{
        font-size: 40px;
        z-index: -100000;
    }   

    .navbar-links {
        justify-content: center;
        background: rgb(15,75,73);
        background: -moz-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
        background: -webkit-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
        background: linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f4b49",endColorstr="#071e22",GradientType=1);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 0;
        height:100vh;
        position: absolute;
        top: 0vh;
        right: 0;
        transition: all .4s ease-in-out;
    }

    .navbar-links li{
        position: relative;
        top: 1.5em;
    }

    .show-nav .navbar-links {
    width: 100%;
    }
    .navbar-link {
        transform: translateX(101%);
    }

    .show-nav .navbar-link {
        transform: translateX(0);
    }
    .navbar-link > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition:all .4s ease-in-out;
    }
    .navbar-link > a:hover {
            padding: 2rem;
            letter-spacing: 5px;
    }


/* Toggle menu */
    .burger {
        display: block;
        position: relative;
        right: 5%;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .bar {
        display: block;
        width: 45px;
        height: 4px;
        background: white;
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .show-nav .bar {
        overflow: hidden;
        width: 0;
        background: transparent;
    }
    .bar::before, .bar::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: white;
        border-radius: 3px;
        transition: all .4s ease-in-out;
    }
    .bar::before {
        transform:translateY(-12px);
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .bar::after {
        transform:translateY(12px);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }


/* Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }
    .show-nav .second {
        transition: all 1.2s ease-out;
    }
    .show-nav .third {
        transition: all 1.3s ease-out;
    }
    .show-nav .fourth {
        transition: all 1.4s ease-out;
    }
    .show-nav .fifth {
        transition: all 1.5s ease-out;
    }
}
/* Medium devices */
@media screen and (min-width:820px){
    .navbar-link > a:after {
        display: block;
        content: "";
        width: 0;
        height: 1px;
        background:white;
        transition:width .4s;
    }
    .navbar-link:hover > a:after {
        width: 100%;
    }
}