/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY COLOR*/
body{
    overflow: scroll;
    width: 100%;
    height: 100vh;
    background: rgb(15,75,73);
    background: -moz-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    background: linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f4b49",endColorstr="#071e22",GradientType=1);
}



.hero-qsn{
    margin: 5%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.hero-g{
    display: flex;
    flex-direction: column;
    float: left;
}

.hero-d{
    float: left;
}

.h1-hero{
    margin-top: 20%;
    text-align: center;
}

.txt-hero{
    margin-top: 10%;
    text-align: center;
    padding: 3%;
    width: 400px;
    height: 20px;
}

.span-hero{
    color: #77EA97;
}

.main-ekip{
    display: flex;
    justify-content: space-around;
    background-color: #03363F;
}

.banner1{
    width: 100%;
    padding: 10px;
    background-color: #071E22;
}

.banner2{
    width: 100%;
    padding: 10px;
    background-color: #071E22;
}
.banner-txt{
    margin-left: 4%;
}

.monsieur{
    margin-left: 2%;
    width: 60%;
}

.fleche-g{
    margin-top: 7%;
    margin-left: 2%;
}

.fleche-d{
    margin-top: 7%;
    margin-right: 2%;
}

.txt-ekip{
    margin-top: 2%;

}

.h2-ekip{
    margin-top: 2%;
}

.h3-ekip{
    margin-top: 8%;
}

.point-ekip{
    width: 10%;
}

.banner2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.txt-carte{
   margin-top: -3%;
    font-size: x-large;
}

.carte{
 width: 30%;
 margin-bottom: 3%;
}


.button-mad{
    margin-top: 3%;
      width: 200px;
      padding: 20px;
      border: none;
      border-radius: 50px 50px 50px 50px;
      font-size: 1em;
      text-decoration: none;
      text-align: center;
      color: black;
      background-color: #77EA97;
  }

  .madame {
    height: 400px;
    background-image: url(/img/contact_photo.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.madame .h2-madame{
    margin-top: 10%;
}

