*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BODY COLOR*/
body{
    overflow: scroll;
    width: 100%;
    height: 100%;
    background: rgb(15,75,73);
    background: -moz-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    background: linear-gradient(180deg, rgba(15,75,73,1) 0%, rgba(7,30,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f4b49",endColorstr="#071e22",GradientType=1);
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-img{
    width: 100vw;
}
.hidden-service{
    display: none;
}

/* TXT */

.h1-service{
    text-align: center;
    color: white;
}

.span-service{
    color: #77EA97;
}

.h1-service1{
    margin-top: 15%;
}

.txt-service1{
    margin: 2rem;
}

.span-service1-vert{
    color: #77EA97;
}


/* IMG  */

.img-mockup-service{
    position: relative;
    right: 33em;
    width: 90rem;

}

/* BUTTON  */

.button-hero{
  margin-top: -10%;
    width: 200px;
    padding: 20px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    font-size:1em;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: #77EA97;
}


.button-hero1{
    margin-top: 15%;
      width: 200px;
      padding: 20px;
      border: none;
      border-radius: 50px 50px 50px 50px;
      font-size: 1em;
      text-decoration: none;
      text-align: center;
      color: black;
      background-color: #77EA97;
  }







  /* RESPONSIVE TABLETTE  */
  
  @media screen and ( min-width : 768px )  {

    .main-content-hr{
        display: flex;
    }

    .main-content-hr .main-img-1 img{
        height: 0.5em;
    }

    .hidden{
        display: none;
    }

    .hidden-service{
        display: flex;
    }
    
   .main-content .main-img{
    display: flex;
    flex-direction: row;

   }


    .h1-service{
        text-align: center;
        color: white;
    }
    
    .span-service{
        color: #77EA97;
    }
    
    .h1-service1{
        margin-top: 10%;
    }
    
    .txt-service1{
        padding: 5%;
        margin-top: 5%;
    }
    
    .span-service1-vert{
        color: #77EA97;
    }
    
    
    /* IMG  */
    
    .img-mockup-service{
        margin-top: -18%;
        width: 30%;
      
    
    }

    .logo-hero{
        width: 30%;
      
    }
    
    .img-mockup-service2{
        margin-top: -18%;
        width: 30%;
        
    }
    /* BUTTON  */
    
    .button-hero{
      margin-top: -10%;
        width: 250px;
        padding: 30px;
        border: none;
        border-radius: 50px 50px 50px 50px;
        font-size:1em;
        text-decoration: none;
        text-align: center;
        color: black;
        background-color: #77EA97;
    }
    
    
    .button-hero1{
        margin-top: 10%;
          width: 250px;
          padding: 30px;
          border: none;
          border-radius: 50px 50px 50px 50px;
          font-size: 1em;
          text-decoration: none;
          text-align: center;
          color: black;
          background-color: #77EA97;
      }
    

  }


    /* RESPONSIVE TABLETTE  */
  
    @media screen and ( min-width : 1024px )  {

        .main-content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .h1-service{
            text-align: center;
            color: white;
        }
        
        .span-service{
            color: #77EA97;
            text-align: center;
        }
        
        .h1-service1{
            margin-top: 10%;
        }
        
        .txt-service1{
            padding: 5%;
            margin-top: 5%;
        }
        
        .span-service1-vert{
            color: #77EA97;
        }
        
        
        /* IMG  */
        
        .img-mockup-service{
            margin-top: -18%;
            width: 200%;
            margin-left: -50%;
        
        }
        
        /* BUTTON  */
        
        .button-hero{
          margin-top: -10%;
            width: 250px;
            padding: 30px;
            border: none;
            border-radius: 50px 50px 50px 50px;
            font-size:1em;
            text-decoration: none;
            text-align: center;
            color: black;
            background-color: #77EA97;
        }
        
        
        .button-hero1{
            margin-top: 10%;
              width: 250px;
              padding: 30px;
              border: none;
              border-radius: 50px 50px 50px 50px;
              font-size: 1em;
              text-decoration: none;
              text-align: center;
              color: black;
              background-color: #77EA97;
          }
        
    
      }